header {
    position: relative;
}

body {
    margin: 0px;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 17px;
    background-color: #2c2c32;

}

div {
    background-color: #2c2c32;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #0071bc;
}

#hdr {

    width: 100%;
    height: 60px;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.151);
    z-index: 1;
}

.hl {
    margin-left: 20px;
    margin-left: 20px;
    color: rgb(143, 143, 143);
    text-decoration: none;
}


.search1 {
    width: 8%;
    height: 56px;
    background-color: rgba(255, 255, 255, .2);
    border: rgba(255, 255, 255, .2) 0px;
    outline: none;
    font-size: larger;
    color: #e0dddd;
}

i {
    color: white;
}


a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bu1 {
    width: 2%;
    height: 58px;
    background: rgba(255, 255, 255, .2);
    border: none;
    margin-left: 20px;
}

.bu2:hover {
    background-color: #024b88;
}

.bu2 {
    height: 58px;
    width: 10%;
    background-color: #005ba4;
    border-color: #005ba4;
    border-style: hidden;
    color: white;
    font-size: 16px;
    /* border-left: rgba(0, 0, 0, 0.322) 1px solid; */
}

#bu2 {
    margin-right: 10px;
}

.clspn {
    font-size: x-small;
}

h1 {
    color: white;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 23px;
}

#img1 {
    height: 30px;
}

#div2 {
    background-color: #25252b;
    color: #ccc;
    padding-top: 60px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

#link2 {
    color: #0098ff;
    margin-right: 6px;
}

#mainimg {
    width: 45%;
    margin-right: -400px;
    margin-left: -200px;
}

#img2 {
    height: 600px;
    width: 100%;
}

#div3 {
    height: 650px;
}

.pa {
    color: #ccc;
    font-size: 45px;
}

#h2 {
    font-size: 50px;
    margin-top: -40px;
    font-weight: 400;
    padding-left: 10px;
}

#div4 {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -350px;
    margin-top: -330px;
}

.pa2 {
    color: #ccc;
    margin-left: -30px;
    margin-top: -10px;
}

.dbu {
    position: absolute;
    margin-bottom: -800px;
    margin-left: -6px;
}

.dl {
    width: 210px;
    height: 60px;
    font-size: medium;
    background-color: #005ba4;
    border-color: #005ba4;
    border-width: 1px;
    color: #e0dddd;
}

.dl:hover{
    background-color: #024b88;
}

#dl3 {
    height: 59px;
    color: #005ba4;
    background-color: #005ba4;
    border-color: #005ba4;
    margin-top: -1px;
    border-width: 1px;
    padding-left: -10px;
    text-align-last: center;
}



#op {
    color: #000000;
    border-color: #000000;
}

#dlic {
    margin-left: 210px;
    position: absolute;
}

#db3 {
    background-color: #005ba4;
    color: white;
    width: 30px;
    height: 30px;
}

#p2 {
    width: 310px;
    height: 50px;
    background-color: #25252b;
    color: #0071bc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -29px;
    font-size: medium;
}

.pil {
    position: absolute;
    margin-top: 75px;
}

#disc {
    margin-top: -20px;
    position: absolute;
    margin-left: 9px;
    color: #0099ff;
}

#discli {
    background-color: #00000000;
    position: absolute;
    font-size: 13px;
    width: 45%;
    color: #ccc;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 150px;
}



.or {
    color: #ccc;
    margin-right: 5px;
    margin-left: 5px;
}


#secnd {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    color: #25252b;
    border: #ccc 0px solid;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

.sb {
    height: 150px;
    width: 15%;
    background-color: #ffffff;
    border: #000000 0px solid;
}

.sb:hover {
    background-color: #e0dddd;
}

#sb1:hover {
    transform: scale(1.2);
    color: #0071bc;
}

#sb2:hover {
    transform: scale(1.2);
    color: #24bd24;
}

#sb3:hover {
    transform: scale(1.2);
    color: #ff3535;
}

#sb4:hover {
    transform: scale(1.2);
    color: #000000;
}





#sb1 {
    color: #25252b;
    font-size: 55px;
    transition: .3s;
}

#sb2 {
    color: #25252b;
    font-size: 55px;
    transition: .3s;
}

#sb3 {
    color: #25252b;
    font-size: 55px;
    transition: .3s;
}

#sb4 {
    color: #25252b;
    font-size: 55px;
    transition: .3s;
}




#third {
    background-color: #d4d4d4;
    width: 100%;
    height: 400px;
    box-shadow: 0 px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

#insens {
    width: 45%;
    padding: 100px;

}

#intl {
    color: #25252b;
    margin: 20px;
    font-size: xx-large;

}

#int {
    color: #25252b;
    margin-left: 20px;
    justify-content: left;
    font-size: larger;
    font-weight: 300;
}

#intimg {
    width: 20%;
    margin-left: 250px;
}




#forth {
    background-color: #ffffff;
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

#dbugimg {
    width: 20%;
    margin-left: -250px;
}

#debug {
    background-color: #ffffff;
    text-align: left;
}

#dbug {
    color: #25252b;
    font-size: xx-large;
    margin-top: -20px;
}

#dbg {
    color: #25252b;
    font-size: larger;
    font-weight: 300;
    width: 70%;
    margin-left: 10px;
}





#fifth {
    background-color: #d4d4d4;
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

#gdiv {
    width: 45%;
    margin-left: 100px;
}

#gitimg {
    width: 20%;
    margin-left: 150px;
}

#headgit {
    color: #25252b;
    font-size: xx-large;
    margin-top: -20px;
}

#pgit {
    color: #25252b;
    margin-left: 12px;
    justify-content: left;
    font-size: larger;
    font-weight: 300;
}




#sixth {
    background-color: #ffffff;
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

#extnsn {
    width: 45%;
    margin-left: 100px;
}

#headext {
    color: #25252b;
    font-size: xx-large;
    margin-top: -20px;
}

#pext {
    color: #25252b;
    margin-left: 10px;
    justify-content: left;
    font-size: larger;
    font-weight: 300;
}

#extimg {
    width: 380px;
    margin-left: 100px;
}


#seven {
    background-color: #d4d4d4;
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}


#azure {
    width: 45%;
    margin-left: 100px;
}

#headazure {
    color: #25252b;
    font-size: xx-large;
    margin-top: -20px;
}


#pazure {
    color: #25252b;
    margin-left: 10px;
    justify-content: left;
    font-size: larger;
    font-weight: 300;
}


#azureimg {
    width: 20%;
    margin-left: 250px;
}



.eight {
    background-color: #ffffff;
    width: 100%;
    height: 400px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.432);

}

.logos1 {
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    /* border: #000000 1px solid; */
    height: 25px;
    box-shadow: none;
    margin-top: -70px;
}

.logos2 {
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    /* border: #000000 1px solid; */
    height: 25px;
    position: absolute;
    margin-bottom: -20px;
    box-shadow: none;
}

.logo {
    width: 4%;
}


.lgo {
    background-color: #00000000;
    width: 1%;
    margin-left: -40px;
}

#lgohead {
    position: absolute;
    background-color: #00000000;
    color: #25252b;
    font-size: xx-large;
    font-weight: lighter;
    width: 20%;
    margin-top: -230px;
}

.gtstrtd {
    position: absolute;
    width: 13%;
    height: 60px;
    margin-bottom: -220px;
}

#gtstrtdbtn {
    background-color: #006bb3;
    width: 100%;
    height: 60px;
    border: #0000001a .2px solid;
    color: #ffffff;
    font-size: large;
    font-weight: 530;
}

#gtstrtdbtn:hover {
    background-color: #005ba4;
}


#nine {
    background-color: #d4d4d4;
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

#wlaicn {
    background-color: #d4d4d4;
    width: 70%;

}

.icons {
    background-color: #d4d4d4;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;

}

.lin {
    width: 140%;
}

.icn {
    width: 100%;
    margin-top: -100px;
}

#icndls {
    position: absolute;
    background-color: #00000000;
    color: #25252b;
    font-size: 45px;
    font-weight: lighter;
    width: 20%;
    margin-top: -250px;
    margin-right: -170px;
}


.dwnicn {
    position: absolute;
    background-color: #006bb3;
    width: 13%;
    height: 60px;
    border: #0000001a .2px solid;
    color: #ffffff;
    font-size: large;
    font-weight: 530;
    margin-bottom: -180px;
    border-radius: 3px;
}

.dwnicndeb {
    position: absolute;
    background-color: #006bb3;
    width: auto;
    height: 60px;
    padding: 20px;
    border: #0000001a .2px solid;
    color: #ffffff;
    font-size: large;
    font-weight: 530;
    margin-bottom: -180px;
    border-radius: 3px;
    margin-left: -200px;
}

.dwnicnrpm {
    position: absolute;
    background-color: #006bb3;
    width: auto;
    height: 60px;
    border: #0000001a .2px solid;
    color: #ffffff;
    font-size: large;
    font-weight: 530;
    padding: 20px;
    margin-bottom: -180px;
    border-radius: 3px;
    margin-right: -200px;
}

.hvricn:hover {
    background-color: #005ba4;
}

#icndwn {
    margin-right: 8px;
}

.dwnicn {
    width: auto;
}

.dwnmac {
    width: auto;
}


#ten {
    background-color: #ffffff;
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.432);
}

#insider {
    background-color: #00000000;
    width: 80%;
    height: 400px;
}

.ins {
    color: #25252b;
    background-color: #ffffff00;
    font-size: larger;
    font-weight: 300;
    height: 150px;
    margin-top: -150px;
}

.insdr {
    position: absolute;
    margin-left: -650px;
}

.insdr2 {
    position: absolute;
    margin-right: -650px;
}

#nwft {
    font-weight: 480;
    margin-top: -50px;
}

#nwft1 {
    position: absolute;
    margin-top: 30px;
    display: inline-flex;
    white-space: pre;
}


#vsedit {
    font-weight: 480;
    margin-top: -50px;
}

#vsedit1 {
    position: absolute;
    margin-top: 30px;
}

.licence {
    position: absolute;
    width: 50%;
    background-color: #00000000;
}

.pl {
    background-color: #00000000;
}

.licn {
    /* margin-top: -15px; */
    /* position: absolute; */
    font-weight: 500;

}

.licdisc {
    position: absolute;
    margin-bottom: -160px;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    line-height: 40px;
    width: 900px;
}

#pdisc {
    width: 100%;
}


footer{
    height: 90px;
    width: 100%;
    background-color: #333;
}


#ftrdiv{
    /* border: #000000 1px solid; */
    background-color: #00000000;
    color: #e0dddd;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 305px;
    margin-top: 17px;
    width: 30%;
}

#ftrp{
margin-right: 25px;
}

#ftrl{
    color: #e0dddd;
    margin-right: 25px;
}

#ftrb{
    width: 10%;
}

#ftrg{
    color: #000000;
    margin-right: 2px;
}

#ftrc{
    width: 12%;
    font-size: 11px;
    height: 21px;
}


#ftrdiv2{
    position: absolute;
    /* border: #000000 1px solid; */
    background-color: #00000000;
    color: #e0dddd;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    margin-left: 150px;
    margin-top: 32px;
    width: 30%;
}

.ftrlink{
    color: #e0dddd;
    margin-right: 25px;
}

.ftrlink:hover{
    color: #b4a0ff;
}

#ftrimg{
    width: 90px;
}

#ftrspan{
    position: absolute;
    margin-top: 45px;
    font-size: smaller;
    margin-right: -334px;